

.main-why-ontainer {
    background: url('/src/assets/Images/fresh-img.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-why-ontainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.749); /* Adjust opacity for better text visibility */
}

.why-container {
   padding-top: 35px;
   padding-bottom: 40px;
  
}

.why-container-detail{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.list-unstyled{
    color: #134074;
    
}
.why-text-side h2 {
    color: #134074;
}

.sub-text {
    color:#134074;
    font-size: 15px;
}
.why-icon{
    font-size: 35px;
}
.why-text-side ul li {
    margin-bottom: 15px;
    font-size: 16px;
}

.why-text-side ul li span {
    color: #134074;
    font-size: 18px;
    margin-right: 5px;
}

.why-image {
  height: 90%;
  border-radius: 15px;
}

@media (max-width: 768px) {
    .why-text-side {
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .why-image {
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 250px !important;
        width: auto !important;
    }
}
@media (max-width: 908px) {
 
    .why-image {
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 90% !important;
        width: 400px;
    }
}
