.subscription-container {
    padding: 40px 20px;
    background-color: #fffbee;
    text-align: center;
    --mask:
    radial-gradient(53.33px at 50% 74.4px,#000 99%,#0000 101%) calc(50% - 62px) 0/124px 100%,
    radial-gradient(53.33px at 50% -43.4px,#0000 99%,#000 101%) 50% 31px/124px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
          position: relative;
          top : -100px;
  }
  
  .subscription-title {
    font-size: 2.5rem;
    color: #291F51;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  
  .subscription-subtitle {
    font-size: 1rem;
    color: #291F51;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .subscription-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    flex: 1 1 300px;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: left;
    font-weight: bolder;
  }
  
  .card h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
  
  .card ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .card-purple {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url('https://i.pinimg.com/1200x/2e/29/f7/2e29f721ee27fb34d1f7c739eda10082.jpg') center/cover no-repeat;
    
  }
  
  .card-green {
       background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url('/src/assets/Images/New.jpg') center/cover no-repeat;
  }
  .card-3{
   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url('/src/assets/Images/new-2.jpg') center/cover no-repeat;
    
  }
  @media (max-width:970px){
    .card {
        max-width: 100%;
      }
  }
  @media (max-width: 768px) {
    .subscription-title {
      font-size: 2rem;
    }
  
    .subscription-subtitle {
      font-size: 0.9rem;
    }
  
    .card {
      max-width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .subscription-title {
      font-size: 1.7rem;
    }
  
    .subscription-subtitle {
      font-size: 0.8rem;
    }
  
    .card {
      padding: 15px;
    }
  }
  