.different-section {
    padding: 2rem 1rem;
    background-color: #f3fdf1;
    text-align: center;
 
  }
  
  .different-section h2 {
    color: #1d1b3e;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .different-section .description {
    color: #1d1b3e;
    max-width: 900px;
    margin: 0 auto 2rem auto;
    font-size: 1rem;
    line-height: 1.6;
    /* background-image: url('/src/assets/Images/'); */
    
  }
  
  .icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .icon-box {
    flex: 1 1 150px;
    max-width: 200px;
    text-align: center;
  }
  
  .icon-circle {
    background-color: #b2fbb2;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto 1rem auto;
    border: 1px solid #1d1b3e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #1d1b3e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  .icon-circle > img {
    height: 80px;
    width: 80px;
  }
  .icon-box p {
    color: #1d1b3e;
    font-size: 1rem;
    font-weight: 500;
  }
  
  /* Tablet */
  @media (max-width: 768px) {
    .icon-circle > img {
      height: 70px;
      width: 70px;
    }
    .icons-container {
      gap: 1.5rem;
    }
  
    .icon-circle {
      width: 100px;
      height: 100px;
      font-size: 1.8rem;
    }
  
    .icon-box {
      max-width: 160px;
    }
  }
  
  /* Mobile */
  @media (max-width: 480px) {
    .icon-circle > img {
      height: 60px;
      width: 60px;
    }
    .different-section h2 {
      font-size: 1.5rem;
    }
  
    .different-section .description {
      font-size: 0.95rem;
      padding: 0 1rem;
    }
  
    .icon-circle {
      width: 90px;
      height: 90px;
      font-size: 1.5rem;
    }
  
    .icon-box p {
      font-size: 0.9rem;
    }
  }
  