.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  /* gap: 10px; */
  padding: 20px;
}

.grid-item {
  padding: 20px;
  box-sizing: border-box;
}

.image1 {
  background: url("/src/assets/Images/about-image.png") center/cover no-repeat;
  min-height: 450px;
  /* border-radius: 10px; */
}

.image2 {
  background: url("/src/assets/Images/about-second-image.png") center/cover no-repeat;
  min-height: 450px;
  /* border-radius: 10px; */
}

.text1 {
  background-color: #fde3d9;
  color: #291F51;
 
  text-align: center;
   padding-top: 100px;
}

.text2 {
  background-color: #c9e8cf;
  color: #291F51;
  text-align: center;
   padding-top: 100px;
 }

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .image1,
  .image2,
  .text1,
  .text2 {
    min-height: 200px;
    padding-top: 20px;
  }
}

.about-last-container{
    background-color: #E6E7F8;
    height: 300px;
    width: 100%;
}
.about-content-btn{
border-radius: 30px;
border: 3px solid #291F51;
padding: 10px;
width: 200px;
font-weight: bold;
background-color: transparent;
color: #291F51;
position: relative;
left: 50%;
transform: translate(-50%);
margin-top: 20px;
/* transition: all 0.5 ease !important; */
}

.about-content-btn:hover{
    background-color: #291F51;
    color: white;
}

@media (max-width:400px) {
    .about-last-container{
    height: 400px;
    }
}